# http://EditorConfig.org

root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true

# Set default charset
[*.{js,py,rb}]
charset = utf-8

[*.py]
indent_style = space
indent_size = 4

[*.{js,jsx,ts,tsx,json}]
indent_style = space
indent_size = 2

[*.css]
indent_style = space
indent_size = 2

[*.md]
max_line_length = 80

[*.sh]
indent_style = space
indent_size = 4

[*.html]
indent_style = space
indent_size = 2

[*.{yml,yaml}]
indent_style = space
indent_size = 2
